{
    "env": {
      "browser": true,
      "jest": true,
      "es6": true
    },
    "extends": ["airbnb", "react-app", "react-app/jest", "prettier"],
    "plugins": ["import", "prettier"],
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    },
    "settings": {
      "import/resolver": {
        "node": {
          "paths": [
            "src"
          ]
        }
      }
    },
    "rules": {
        "jsx-a11y/label-has-associated-control": 0,
        "jsx-a11y/label-has-for": 0,
        "prettier/prettier": 0,
        // "no-eval": "error",
        // "no-bitwise": "error",
        "no-console": "warn",
        "no-unused-vars": 0,
        "react/forbid-prop-types": 0,
        "react/no-multi-comp": "warn",
        "react/react-in-jsx-scope": 0,
        "react/require-default-props": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-props-no-spreading": 0,
        "react/destructuring-assignment": 0,
        "react/jsx-no-bind": 0,
        "import/no-anonymous-default-export": 0,
        "react-hooks/exhaustive-deps": 0,
        "react/no-array-index-key": 0,
        "react/no-unused-prop-types": 0,
        "import/first": 0,
        "react/jsx-key": "error"
  
    }
  }